{% extends 'dasboard/base.html' %}

{% block body %}
<div class="bg-white mt-3" >
  <p>Add User</p>

  <form action=" " method="post" enctype="multipart/form-data"  id="signup">
            {% csrf_token %}
            <div class="mb-3 mt-3">
              <input type="text" class="form-control" value="{{user_type}}" name="user_type">
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="mb-3">
              <label  class="form-label">Name:</label>
              <input type="text" class="form-control"  placeholder="Enter Name" name="name">
            </div>

            <div class="mb-3">
                <label  class="form-label">City:</label>
                <input type="text" class="form-control"  placeholder="Enter City" name="city">
            </div>
              
            {% if user_type != 'user' %}

            <div class="mb-3">
                <label  class="form-label">Position:</label>
                <input type="text" class="form-control"  placeholder="Enter position" name="position">
            </div>
            
            <div class="mb-3">
              <label  class="form-label">Qualification:</label>
              <input type="text" class="form-control"  placeholder="Enter Qualification" name="qualification">
            </div>

            <div class="mb-3">
                <label  class="form-label">Pan No:</label>
                <input type="text" class="form-control"  placeholder="Enter Pan Number" name="pan">
            </div>

            <div class="mb-3">
              <label  class="form-label">salary:</label>
              <input type="text" class="form-control"  placeholder="Enter salary" name="salary">
            </div>

            <div class="mb-3">
                <label  class="form-label">User Photo:</label>
                <input type="file" id="profile" multiple class="form-control"  name="profile">
                <p id="message"></p>

            </div>

            <div class="mb-3">
              <label  class="form-label">Uplaod Signature:</label>
              <input type="file" id="signature" multiple class="form-control"  name="signature">
              <p id="message"></p>

            </div>

            {% endif %}
            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
          </form>
<div>

<!-- Container end -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <script>


    $(document).ready(function () {
  
      $('#signup').submit(function(event) {
        
        profile_fileName = document.querySelector('#profile').value;
        let profile_filename = profile_fileName.toLowerCase();
        profile_extension = profile_filename.substring(profile_filename.lastIndexOf('.') + 1);
     
        signature_fileName = document.querySelector('#profile').value;
        let signature_filename = signature_fileName.toLowerCase();
        extension = signature_filename.substring(signature_filename.lastIndexOf('.') + 1);
     

      if ('jpg' == profile_extension) {
  
        $("#signup").submit();
        return;
      }
    else{
  
      event.preventDefault();
      
      $("#message").text("jpg not formate");
      $("#message").addClass("text-danger");
      // $("#signup-form").submit();
      return;
    }
  
   
  })
  
    });
  </script>
  
{% endblock body %}