{% extends 'dasboard/base.html' %}


{% comment %} {% block head %}
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock head %} {% endcomment %}


{% block body %}

<div class="container bg-white mt-5 p-5 ">
  <h2 style="color: black;">User Data</h2>
  <table id="example"  style="width:100%;" class="table display table-dark table-striped p-4">
    <thead>
      <tr>
        <th>User Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>User_type</th>
        <th>Status</th>
        <th>Delete</th>
        
      </tr>
    </thead>
    <tbody>
      {% for i in user_data %}
      <tr>
        <td>{{i.user_id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.user_type}}</td>        
        <td>{{i.city}}</td>
        <td>{{i.status}}</td>
        <td>{% if i.delete == False %}Active {% else %} Deleted{% endif %}</td>

        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}

{% block js %}
{% comment %} <script>
    new DataTable('#example', {
pagingType: 'full_numbers'
});
</script> {% endcomment %}
{% endblock js %}