{% extends 'dasboard/base.html' %}

{% block style %}
<style>
  :root {
    --black: #000;
    --darkgreen: #2822a9;
    --green: #467b2e;
    --white: #fff;
    --grey: rgb(135, 126, 126);
  }

    {
    % comment %
  }

  .container {}

    {
    % endcomment %
  }

  .wrapper {
    width: 100%;
    background-color: var(--white);
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
  }

  .logo p {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
  }

  h4 {
    font-size: 1.4rem;
    color: var(--black);
  }

  h4 small {
    font-size: 1rem;
    color: var(--grey);
  }

  h4 small span {
    font-size: 1.1rem;
    color: var(--black);
  }

  p {
    font-size: 1rem;
    color: var(--grey);
  }

  p span {
    font-size: 1.3rem;
    color: var(--black);
  }

  .date {
    text-align: right;
  }

  .btn {
    background-color: var(--darkgreen);
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--white);
  }

  .btn:hover {
    background-color: green;
    color: var(--white);
  }

    {
    % comment %
  }

  @media only screen and (max-width: 768px) {
    .wrapper {
      width: 90%;
    }
  }

    {
    % endcomment %
  }
</style>

{% endblock style %}
{% block body %}
<div class="container-fluid mt-3  ">
  <div class=" wrapper" id="generate_pdf">
    <h2>Appointment Letter</h2>
    <div class="row">
      <div class="col-6">
        <div class="logo">
          <img src="https://cdn.pixabay.com/photo/2016/10/18/05/52/android-logo-1749407_640.png"
            style="width: 50px; height: 50px;" />
          <p class="navbar-brand heading">HMS</p>
        </div>
      </div>
      <div class="col-6">
        <h4>Dr. {{ data.doctor }}</h4>
        <h4><small>Speciality</small></h4>
        <h4><small>Mb: <span>0XXXXXXXXX</span></small></h4>
      </div>
      <div class="col-12">
        <p>Appointment ID: <span>{{data}}</span></p>
      </div>
      <div class="col-12">
        <p> Name: <span>{{ data.appointment_ref.name }}</span></p>
      </div>
      <div class="col-12">
        <p>Gender: <span>Male</span></p>
      </div>
      <div class="col-12">
        <p>Age: <span>20</span></p>
      </div>
      <p>problem: <span>{{data.region}}</span></p>
      <div class="col-12 date">
        <p>Date: <span>{{data.date}}</span></p>
      </div>

    </div>
    <hr style="margin-top: 5px;">

  </div>
  <div class="col-sm-12 d-flex justify-content-center">
    {% if data.status == True %}<a href="/prescription/{{data.appointment_id}}" class="btn ">View</a>{% endif %}
    <button class="btn btn-info" id="printButton" onclick="print()">Download</button>

  </div>
</div>
{% endblock body %}


{% comment %} pdf generate {% endcomment %}
{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<script type="text/javascript">
  window.jsPDF = window.jspdf.jsPDF;
  var docPDF = new jsPDF();
  function print() {
    var elementHTML = document.querySelector("#generate_pdf");

    docPDF.html(elementHTML, {
      callback: function (docPDF) {
        docPDF.save('{{data.appointment_id}}');
      },
      // x: 5,
      // y: 5,
      width: 170,
      windowWidth: 650
    });
  }
</script>
{% endblock js %}